---
import Heading from "../components/Heading.astro";
import InfoBox from "../components/InfoBox.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Raspberry Management">
    <Image
        src="https://res.cloudinary.com/dyspjkmgs/image/upload/v1694659301/about_sm_hohxth.jpg"
        class="header-image"
        alt="Mariela performing at SheFest 2023"
        height="50"
        width="50"
    />
    <InfoBox color="white" width="truncated" order="front">
        <Heading>ABOUT</Heading>
        <p style="color:black;">
            Natalie Bancroft founded Raspberry Management in 2017 in Nashville,
            TN, while helping candy pop darlings, Mariela, grow from just a
            couple kids learning to use Logic in their bedrooms into some of
            Nashville's best beloved indie sweethearts. RM has since developed
            into one of southern California's boutique indie artist management
            groups.
        </p>
        <!-- <p style="color:black;">
            We’re a collective of like-minded individuals, international in
            scope, united by our primary focus: to develop sustainable careers
            and long-lasting legacies for our artists, and along the way,
            influence the musical landscape for the better. Our diverse roster
            features many uniquely talented artists from all genres including:
            Dave Matthews Band, Luke Bryan, Lionel Richie, Enrique Iglesias,
            Dierks Bentley, ODESZA, Chris Stapleton, Lady A, The Strokes and
            Phish. The same entrepreneurial spirit that guides our artist
            development extends into the fields of touring, commerce, festivals,
            licensing, branded entertainment, and artist-driven philanthropy.
        </p> -->
    </InfoBox>
</Layout>

<style>
    .header-image {
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: right top;
        filter: blur(3px);
    }

    .about-container {
        background-color: white;
        min-height: 400px;
        margin: -5rem 8rem;
        position: relative;
        z-index: 2;
        padding: 2rem 8rem;
    }
</style>
