---
import type { Artist } from "../lib/types/artist";
import Heading from "./Heading.astro";
interface Props {
  artist: Artist;
}
const { artist } = Astro.props;
---

<div class="contact">
  <Heading align="right" textColor="plum">CONTACT</Heading>
  <div class="contact-group">
    <h2 class="text" 2>MANAGEMENT</h2>
    <a style="text-align: right;" href="mailto:natalie@raspberrymanagement.com"
      >Natalie Bancroft</a
    >
  </div>
  <div class="contact-group">
    <h2>BOOKING</h2>
    <a style="text-align: right;" href="mailto:natalie@raspberrymanagement.com"
      >Natalie Bancroft</a
    >
  </div>
  {
    artist.oneSheet && (
      <div class="contact-group">
        <h2>EPK</h2>
        <a target="_blank" style="text-align: right;" href={artist.oneSheet}>
          One Sheet
        </a>
      </div>
    )
  }
</div>
<style lang="scss">
  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
  }
</style>
