---
import { Image } from "astro:assets";
import type { Artist } from "../lib/types/artist";
import Heading from "./Heading.astro";
import Socials from "./Socials.astro";

interface Props {
    artist: Artist;
}
const { artist } = Astro.props;

const { bio, name, src } = artist;
---

<div class="artist-detail">
    <Image
        src={src}
        alt=`Photo of ${name}`
        class="header-image"
        width="50"
        height="50"
    />

    <div class="details">
        <div>
            <h1 class="band-name">{name}</h1>
            <a class="link" href="www.mariela.band">www.mariela.band</a>
        </div>
        <Socials />
        <div class="band-info">
            <div>
                <div>
                    <Heading>ARTIST BIO</Heading>
                    <p>
                        {bio}
                    </p>
                </div>
            </div>
            <div class="contact">
                <h2 class="section-heading">CONTACT</h2>
                <h2>MANAGEMENT</h2>
                <a href="mailto:natalie@raspberrymanagement.com"
                    >Natalie Bancroft</a
                >
            </div>
        </div>
    </div>
</div>

<style lang="scss">
    .artist-detail {
        margin: auto;
    }
    .details {
        max-width: 800px;
        margin: 3rem auto;
    }

    .band-info {
        display: flex;
        flex: 1;
        gap: 4rem;
    }

    .band-name {
        text-transform: uppercase;
    }
    h2 {
        font-size: 1.5rem;
    }

    .header-image {
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: right top;
    }
</style>
