---
import Heading from "./Heading.astro";
---

<div class="contact">
  <Heading align="right" textColor="plum">CONTACT</Heading>
  <div class="contact-group">
    <h2 class="text" 2>MANAGEMENT</h2>
    <a style="text-align: right;" href="mailto:natalie@raspberrymanagement.com"
      >Natalie Bancroft</a
    >
  </div>
  <div class="contact-group">
    <h2>BOOKING</h2>
    <a style="text-align: right;" href="mailto:natalie@raspberrymanagement.com"
      >Natalie Bancroft</a
    >
  </div>
</div>
<style lang="scss">
  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
  }
</style>
