---
import Heading from "./Heading.astro";
import InfoBox from "./InfoBox.astro";
---

<footer>
    <InfoBox color="plum">
        <div class="inner-container">
            <h3>© 2023 RASPBERRY MANAGEMENT</h3>
            <div>
                <Heading textColor="white" align="right">CONTACT</Heading>
                <h3 style=" text-align: right;">Natalie Bancroft</h3>
                <a
                    href="mailto:natalie@raspberrymanagement.com"
                    style="color:white; margin-top:.75rem;text-align: right;"
                >
                    natalie@raspberrymanagement.com
                </a>
            </div>
        </div>
    </InfoBox>
</footer>
<style>
    footer {
        background-color: var(--plum);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: -10rem 4rem 0;
        padding: 6rem 0 2rem;
    }

    .inner-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
</style>
