---
import NavBar from "./NavBar.astro";
---

<header>
    <div class="logo">
        <a href="/">
            <h1 class="text-gradient large-screen">
                RASPBERRY <span>Management</span>
            </h1>
            <h1 class="text-gradient mobile">RM</h1>
        </a>
    </div>

    <NavBar />
</header>

<style lang="scss">
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.75rem 12rem;
    }

    .logo {
        display: flex;
        gap: 1rem;

        h1 {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1;
            text-align: center;
        }

        span {
            display: block;
            font-size: 1.5rem;
            color: white;
        }
    }

    .mobile {
        display: none;
    }

    .text-gradient {
        height: 5rem;
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    @media screen and (max-width: 480px) {
        header {
            margin: 1rem;
        }
        .large-screen {
            display: none;
        }
        .mobile {
            display: block;
        }

        .text-gradient {
            height: unset;
        }
    }
</style>
