---
import { Image } from "astro:assets";
import NavBar from "./NavBar.astro";
import raspberry from "../lib/icons/raspberry_new_color.svg";
---

<header>
    <div class="logo">
        <a href="/">
            <h1 class="text-gradient">
                RASPBERRY <span
                    style="display: block; font-size: 1.5rem; color: white;"
                    >Management</span
                >
            </h1>
        </a>
        <!-- <Image
            src={raspberry}
            alt="Cartoon drawing of a raspberry"
            height="36"
            width="36"
            style="margin-top: .5rem"
        /> -->
    </div>
    <NavBar />
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.75rem 12rem;
    }
    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
    }

    .logo {
        display: flex;
        gap: 1rem;
    }

    .text-gradient {
        height: 5rem;
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
