<div class="container">
    <slot />
</div>
<style>
    .container {
        min-height: 400px;
        margin: -5rem 8rem;
        position: relative;
        z-index: 2;
        padding: 2rem 8rem;
        background-color: white;
    }
</style>
