---
import { facebook, spotify, instagram } from "../lib/icons";
import { Image } from "astro:assets";
---

<div class="social-row">
    <a href="https://www.instagram.com/mariela.band/" target="_blank">
        <Image alt="Instagram" src={instagram} /></a
    >
    <a
        href="https://open.spotify.com/artist/0fOdB0OUb1fBfHf8V4N3Hy?si=gmxooXNsQ9qUdYhnZ1ou6Q"
        target="_blank"><Image alt="Spotify" src={spotify} /></a
    >
    <a
        style="margin-top:-3px"
        href="https://www.facebook.com/profile.php?id=61551043084078"
        target="_blank"><Image alt="Facebook" src={facebook} /></a
    >
</div>

<style>
    .social-row {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
    }
</style>
