<div class="social-row">
    <a href="https://www.instagram.com/mariela.band/" target="_blank"
        ><img src="../../public/instagram.svg" /></a
    >
    <a
        href="https://open.spotify.com/artist/0fOdB0OUb1fBfHf8V4N3Hy?si=gmxooXNsQ9qUdYhnZ1ou6Q"
        target="_blank"><img src="../../public/spotify.svg" /></a
    >
    <a
        style="margin-top:-3px"
        href="https://www.facebook.com/profile.php?id=61551043084078"
        target="_blank"><img src="../../public/facebook.svg" /></a
    >
</div>

<style>
    .social-row {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
    }
</style>
