.band-website {
    /* font-weight: 900; */
    /* font-size: 1.5rem; */
}

.details {
    max-width: 800px;
}

.contact {}

.bio {}

.social-row {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.band-info {
    display: flex;
    flex: 1;
    gap: 2rem;

}