:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --berry: #F3004A;
  --berry-hover: #E90047;
  --leaf: #009253;
  --plum: #646cff;
  --plum-hover: #535bf2;
}

ul {
  list-style: none;
}

a {
  text-decoration: inherit;
  cursor: pointer;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

header {
  display: flex;
  width: 900px;
  align-items: center;
  margin: 1rem 0;
  justify-content: space-between;
}

.link {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--plum);
  text-decoration: inherit;
  cursor: pointer;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo> :first-child {
  font-size: 2.25rem;
  font-weight: 900;
  display: block;
  letter-spacing: .25rem;
  color: var(--plum);
}

.logo> :nth-child(2) {
  font-size: 1.25rem;
  color: var(--plum);
}

.nav-list {
  display: flex;
  gap: 1rem;
}