---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="Raspberry Management"
			content="Boutique artist management agency"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/raspberry_new_color.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global lang="scss">
	:root {
		--berry: #f3004a;
		--berry-hover: #e90047;
		--leaf: #009253;
		--plum: #646cff;
		--plum-hover: #8c91f6;
		--plum-light: rgb(168, 172, 251);
		--black: #13151a;

		--accent-gradient: linear-gradient(
			45deg,
			var(--plum),
			var(--plum-light) 30%,
			white 60%
		);

		color-scheme: light dark;
	}
	html {
		font-family: system-ui, sans-serif;
		background-image: linear-gradient(
			to left top,
			#242424,
			#202021,
			#1c1c1f,
			#18191c,
			#13151a
		);
		background-repeat: no-repeat;
		background-size: cover;
	}

	a {
		text-decoration: none;
		color: var(--plum);
		&:hover {
			color: var(--plum-hover);
		}
	}
	body {
		margin: auto;
		position: relative;
	}

	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
	p {
		letter-spacing: 1px;
		font-weight: 300;
		font-size: 1.25rem;
		line-height: 1.6;
	}
</style>
